body{margin:0;padding:0;font-size:14px;line-height:22px;font-family:microsoft yahei;background:#efedee;color:#333;}
div,form,img,ul,ol,li,dl,dt,dd,BUTTON{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;}
img{vertical-align:top;}
li{list-style:none;}
.clear{clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0px!important;margin-top:-1px;line-height:0;zoom:1;}
a {text-decoration:none;outline:none;}
.fs12{font-size:12px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.floatleft{float:left;}
.floatright{float:right;}
.con {width:1100px;margin:0 auto;}


/**首页头部**/
.header {width:100%;background:#fff;height:80px;position:relative;margin-bottom:20px;}
.header .logo {float:left;}
.header .top_nav {float:left;margin-top:35px;margin-left:50px;}
.header .top_nav ul {}
.header .top_nav ul li {float:left;width:138px;height:50px;line-height:50px;text-align:center;margin-left:20px;}
.header .top_nav ul li.hover {float:left;background:url(../images/nav_bg.png) no-repeat;}
.header .top_nav ul li.hover a {color:#fff;}
.header .top_nav ul li a {font-size:16px;color:#333;}
.header .login {float:right;margin-top:30px;}
.header .login a {color:#666;font-size:12px;}

/**首页小导航**/
.little_nav {width:100%;background:#fff;height:50px;line-height:50px;}
.little_nav .Menubox {float:left;}
.little_nav .Menubox ul li {float:left;width:100px;text-align:center;cursor:pointer;}
.little_nav .Menubox ul li.hover {background:url(../images/btn_bg1.png) repeat-x;color:#fff;}
.little_nav .search {float:left;margin-left:175px;*margin-left:75px;margin-top:10px;}
.little_nav .search_ml0 {margin-left:0;}
.little_nav .input1,.little_nav .inputc {height:26px;line-height:26px;width:210px;padding-left:10px;float:left;border:1px solid #d4d4d4;}
.little_nav .input1 {color:#999;}
.little_nav .inputc {color:#333;}
.little_nav .input2 {width:60px;height:30px;line-height:30px;background:url(../images/search_bg.png) repeat-x;border:none;float:left;color:#fff;cursor:pointer;}
.little_nav .edit_user {float:right;}
.little_nav .edit_user a {color:#f46169;border:1px solid #f46169;padding:4px 10px;margin-left:15px;}

/**用户表格**/
.user_list {background:#fff;}
.user_list table {margin-top:10px;}
.user_list table tr th {background:#c3ccd2;color:#666;height:40px;line-height:40px;}
.user_list table tr td {text-align:center;padding:20px 4px;border-bottom:1px solid #d8e0e5;word-break:break-all;}
.user_list table tr td.tal {text-align:left;}
.user_list table tr td.p20 {padding:20px 15px;}
.user_list table tr .do_sth {position:relative;}
.user_list table tr .do_sth a {color:#fb525b;}
.user_list table tr .do_sth .see_more {padding:4px 10px;border:1px solid #fb525b;}
.user_list table tr .do_sth .blacklist {display:inline-block;*display:inline;*zoom:1;width:20px;height:10px;background:url(../images/icon.png) no-repeat -70px -90px;margin-left:5px;}
.user_list table tr .do_sth .add_blacklist {display:none;position:absolute;top:80px;right:19px;width:110px;height:30px;line-height:30px;border:1px solid #fb525b;background:#fff;}
.checkbox,.check_btn {display:none;}
.check_btn a {float:right;width:80px;height:28px;line-height:28px;text-align:center;color:#fc696f;border:1px solid #fc696f;margin-top:10px;margin-left:20px;}
.chkall {display:none;}

/**弹窗**/
.tan_box_z1,.tan_box_z {width:100%;height:100%;overflow:hidden;float:left;display:block;position:fixed; z-index:100;left:0px;top:0;}
* html .tan_box_z {top:expression(offsetParent.scrollTop+0);}
.tan_box_z1 {width:100%;background:rgba(0,0,0,0.7);background:black\9;filter:alpha(opacity=70) \9;}
.tan_box {overflow:auto;float:left;display:none;} 
.tan_box .tan_tit {background:#f6636b;height:40px;line-height:40px;color:#fff;text-align:center;font-size:16px;position:relative;}
.tan_box .tan_tit a {position:absolute;right:10px;font-size:18px;top:0;color:#fff;}

/**拉黑弹窗**/
.box_con {position:fixed;background:#fff;z-index:120;left:50%;display:none;}
.con_del {width:350px;text-align:center;margin-left:-175px;top:200px;}
.set_black {font-size:16px;}
.set_black .set_fer {padding-top:40px;padding-bottom:20px;}
.set_black .set_btn {margin:20px 0 40px 0;}
.set_black .set_btn a {display:inline-block;*display:inline;*zoom:1;width:100px;height:30px;line-height:30px;color:#fff;text-align:center;background:#cecece;border-radius:3px;}
.set_black .set_btn a.set_de {background:#fd6069;margin-left:30px;}

/**用户信息**/
.user_info {top:20px;width:700px;margin-left:-350px;height:600px;overflow:auto;}
.tan_box .user_info .tan_tit a {font-size:12px;}
.user_table {width:550px;margin:30px auto;border:1px solid #fb787e;border-bottom:none;}
.user_table {}
.user_table tr td {line-height:22px;border-bottom:1px solid #fb787e;text-align:left;padding:10px 0 10px 30px;}
.user_table tr td p {margin:0;}

/**导入用户**/
.lead_in {padding:30px 0;}
.lead_in .lead_icon {width:67px;height:71px;background:url(../images/icon.png) no-repeat -150px -10px;margin:0 auto;}
.lead_in .lead_icon_suc {background-position:-60px -10px;width:69px;height:61px;}
.lead_in .lead_fon {padding:10px 0 20px 0;}
.tan_box .con_del .tan_tit {background:url(../images/tanchu_tit.png) repeat-x;height:30px;}
.tan_box .con_del .tan_tit a {top:-5px;}

/** 修改等级**/
.rev_class {width:360px;margin-left:-180px;top:200px;text-align:center;}
.tan_box .rev_class .tan_tit {background:url(../images/tanchu_btn.png) repeat-x;height:40px;line-height:40px;}
.two_class a {width:140px;height:30px;line-height:30px;text-align:center;border:1px solid #ccc;display:inline-block;*display:inline;*zoom:1;color:#333;margin-top:30px;margin-left:20px;}
.two_class a.ori_class {margin-left:0;}
.two_class a.hover {color:#f46169;border-color:#f46169;}
.class_btn {margin:40px 0;} 
.class_btn a {display:inline-block;*display:inline;*zoom:1;width:100px;height:30px;line-height:30px;color:#fff;text-align:center;background:#cecece;border-radius:3px;}
.class_btn a.class_save {background:#fd6069;margin-left:30px;}

/**发送邀请码**/
.user_tel_box {width:500px;margin-left:-250px;top:150px;}
.user_tel_div {margin:30px auto 40px;width:380px;}
.user_tel_div .user_tel_text,.user_tel_div .user_tel_text1 {width:360px;height:180px;padding:10px;margin:0 auto;font-size:12px;resize:none;}
.user_tel_div .user_tel_text {color:#999;}
.user_tel_div .user_tel_text1 {color:#333;}
.user_tel_btn {margin:40px 0;text-align:center;} 
.user_tel_btn a {display:inline-block;*display:inline;*zoom:1;width:100px;height:30px;line-height:30px;color:#fff;text-align:center;background:#cecece;border-radius:3px;}
.user_tel_btn a.user_tel_reback {margin-left:30px;}
.user_tel_btn a.user_tel_next {background:#fd6069;margin-left:30px;}

/**设置邀请码**/
.set_code_box {width:420px;margin-left:-210px;top:150px;}
.user_input .user_code_input {width:340px;margin:30px auto 40px;color:#999;}
.user_input .user_code_input .user_code_num {position:relative;}
.user_code_input .user_code_num .user_num_left,.user_code_input .user_code_num .user_num_right {position:absolute;}
.user_code_input .user_code_num .user_num_left {left:10px;top:5px;}
.user_code_input .user_code_num .user_num_right {right:10px;top:5px;}
.user_code_input .user_code_num input {padding-left:67px;width:280px;height:30px;line-height:30px;color:#333;font-size:16px;padding-top:0;}
.user_input .user_send {background:url(../images/tanchu_tit.png) repeat-x;margin-left:20px;}
.user_input .user_tel_btn a.user_tel_reback {margin-left:20px;}
.lead_in .code_icon {width:69px;height:61px;background:url(../images/icon.png) no-repeat -60px -10px;margin:0 auto;}

/**项目管理**/
.pro_user_list table tr td{vertical-align:top;}
.pro_user_list table tr .do_sth .pro_do_more {display:inline-block;*display:inline;*zoom:1;width:20px;height:10px;background:url(../images/icon.png) no-repeat -70px -90px;margin-left:5px;}
.pro_user_list table tr .do_sth .pro_doo {display:none;position:absolute;top:53px;right:2px;z-index:66;}
.pro_user_list table tr .do_sth .pro_doo a {display:inline-block;*display:inline;*zoom:1;width:104px;height:30px;line-height:30px;border:1px solid #fb525b;background:#fff;}
.pro_user_list table tr .do_sth .pro_doo a:last-child {border-top:none;}
.tan_box .pro_user_info {top:50px;padding-bottom:30px;}
.tan_box .pro_user_info table tr td {vertical-align:top;}
.tan_box .pro_user_info table tr td input{height:24px;width:310px;padding-left:8px;}
.tan_box .pro_user_info table tr td textarea {width:302px;height:60px;font-size:14px;line-height:20px;padding:8px;resize:none;}
.tan_box .pro_user_info .pro_user_btn {text-align:center;margin-bottom:30px;}
.tan_box .pro_user_info .pro_user_btn a {display:inline-block;*display:inline;*zoom:1;width:180px;height:40px;line-height:40px;border-radius:3px;color:#fff;background:#cecece;text-align:center;}
.tan_box .pro_user_info .pro_user_btn a.pro_user_save {background:url(../images/tanchu_btn.png) repeat-x top;margin-left:20px;}
.tan_box .con_del .set_fer span.pro_del {display:inline-block;*display:inline;*zoom:1;background:url(../images/icon.png) no-repeat -10px -10px;width:31px;height:36px;vertical-align:middle;}

/**头条推送**/
.top_line {padding:50px 90px;background:#fff;float:left;}
.top_line dl {width:430px;border:1px solid #ccc;float:left;margin-bottom:50px;}
.top_line dl dt img {width:430px;height:215px;}
.top_line dl dd {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:10px;color:#666;}
.top_line dl dd.top_line_do {padding:0;text-align:center;border-top:1px solid #ccc;}
.top_line dl dd a {width:215px;display:inline-block;*display:inline;*zoom:1;padding:10px 0;color:#999;text-align:center;}
.top_line dl dd a.top_line_edit {color:#fa535a;border-right:1px solid #ccc;width:214px;}
.top_line .top_line_btn {text-align:center;}
.top_line .top_line_btn a {width:290px;height:45px;line-height:45px;background:#fd6a72;display:inline-block;*display:inline;*zoom:1;color:#fff;}
.top_line .top_line_btn a.top_btn_send {margin-left:50px;}

/**添加头条**/
.top_line_add {padding:0 250px 50px;background:#fff;overflow:hidden;}
.top_line_add p {margin:25px 0 5px 0;}
.top_line_add .top_line_input {width:590px;height:30px;line-height:30px;padding-left:10px;}
.top_line_add .file{ height:120px;width:120px;position:absolute;margin-left:0px; font-size:40px; margin-top:-0px;cursor:pointer;overflow:hidden;opacity:0;filter:alpha(opacity=0); }
.top_line_add .baby_ph1,.father_ph1,.mother_ph1 {width:135px;height:80px;overflow:hidden;margin:10px 0 10px 10px;cursor:pointer;overflow:hidden;float:left}
.top_line_add .mother_ph1 img{cursor:pointer;width:135px;}
.top_line_add .mother_ph{position:absolute;}
.top_line_add .container-fluid{background:#dee2e5;margin-top:51px;}
.top_line_add .row-fluid{background:#fff;}
.top_line_add .but {height:120px;width:120px;}
.top_line_add .but img {border:1px solid #ccc;height:118px;}
.top_line_add .top_line_text {height:260px;width:580px;padding:10px;resize:none;}
.top_line_add .top_btn_save {text-align:center;margin-top:30px;}
.top_line_add .top_btn_save a {width:180px;height:45px;line-height:45px;color:#fff;display:inline-block;*display:inline;*zoom:1;background:url(../images/tanchu_btn.png) repeat-x;border-radius:3px;}
.top_line_add .top_btn_save a.top_btn_esc {background:#cecece;margin-right:50px;}

/**操作记录**/
.man_name {padding-right:20px;}
.man_name .ck_more {float:right;margin-right:5px;color:#fc8916;}
.obj_record {width:700px;margin-left:-350px;top:200px;}
.obj_record .obj_name {padding:20px 60px;margin-bottom:50px;}
.tan_box .obj_record .tan_tit a {font-size:12px;} 

/**登录**/
.login_con {background:url(../images/login_bg.jpg) no-repeat top center;height:700px;padding-top:100px;}
.login_con .login_logo {width:289px;margin:0 auto;}
.login_con .login_form {width:458px;background:#fff;margin:70px auto 0;border:1px solid #dcdcdc;box-shadow:-3px 3px 30px #aaa;}
.login_con .login_form p {font-size:14px;color:#fff;margin-bottom:4px;margin-left:80px;}
.login_con .login_form .form_top {font-size:18px;color:#fff;background:url(../images/login_tit.png) no-repeat;height:64px;line-height:64px;text-align:center;margin-left:-11px;}
.login_con .login_form .login_input {width:265px;height:35px;line-height:35px;padding-left:30px;margin-left:80px;border:1px solid #c8c8c8;}
.login_con .login_form .user {background:url(../images/user.png) #fff no-repeat 4px center;margin-top:35px;}
.login_con .login_form .pwd {background:url(../images/pwd.png) #fff no-repeat 5px center;margin-top:30px;}
.login_con .login_form .login_btn {background:url(../images/login_btn.png) repeat-x;width:300px;text-align:center;height:40px;line-height:38px;border:0;cursor:pointer;margin:40px 0 50px 80px;font-size:16px;color:#fff;border-radius:3px;}

/**分页样式**/
.pages {padding:30px 0;margin:0 auto;text-align:center;margin-top:30px;}
.pages .rows {margin-right:0.5rem;}
.pages .current {border:0.1rem solid #999;}
.pages a {border:1px solid #dedede;color:#666;background:fefefe;}
.pages .current {border:none;color:#fc6167;}
.pages .current,.pages a {padding:0 5px;margin:0 3px;}
