html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px){html{font-size:22.5px}}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6,dl,dt,dd,em,strong{font-family:Helvetica;-webkit-text-size-adjust:none;}
div,table,tbody,td,ul,li,ol,div,form,textarea,p,dd,dt,dl,fieldset,legend,iframe{list-style:none;margin:0px; padding:0px; border:none}
body,h1,h2,h3,h4,h5,h6{margin:0px; padding:0px;text-rendering:optimizelegibility;font-family:microsoft yahei;}
body{width:100%;height:100%;font-family:Helvetica;font-size:1.2rem;margin:0 auto;padding:0px;color:#666;background:#f0f0f0;}
ul, li{ list-style:none; vertical-align:bottom}
img,fieldset{ border:none}
font,input,textarea{padding:0px; margin:0px; vertical-align:middle; }
body a{outline:none;}
a,area{blr:expression(this.onFocus=this.blur());}
a,button,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0;);}
:focus{-moz-outline-style:none;}
.clear:after{content:'.';clear:both;display:block;height:0;visibility:hidden}
.clear {clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0px !important;margin-top:-1px;line-height:0;zoom:1;}
.left{ float:left}
.right{ float:right}
.block{ display:block}
.none{ display:none}
.auto-width {width:100%;height:auto; }
a:link,a:visited{ text-decoration:none;}
a:hover{text-decoration:none;}
header,footer,section,details,aside,menu,nav,article,hgroup,figure,figcaption,time{display: block; margin:0px; padding:0px}
.show{display:block;}.hide{display:none;}
/* set image and video max width to 100% */
img{max-width:100%; width:auto\9; -ms-interpolation-mode: bicubic; vertical-align:middle; border:none;-webkit-touch-callout:none}
.p10 {padding:0 1rem;}
.top_scan,.goods_add,.footerUl .a1 em,.footerUl .a2 em,.footerUl .a3 em,.minus,.plus,.minu,.goods_pro .pro_name em,.duihao,.shop_pro .shop_time b,.shop_pro .shop_addr b,.shop_pro .shop_tel b,.own_info .own_addr span,.pay_way .pay_wechat span,.pay_way .pay_acc span,.pay_way .pay_acc .pay_doubt,.acc_des .acc_tit span,.acc_des .acc_pro span {background:url(../images/icon_bg.png) no-repeat;background-size:25rem 25rem;}
.h10 {height:1rem;}
.h15 {height:1.5rem;}
.h50 {height:5rem;}
.h100 {height:10rem;}
.bor1 {border-top:0.1rem solid #e4e4e4;height:0.1rem;overflow:hidden;}



/**首页顶部地址**/
.top_adr {height:4rem;line-height:4rem;font-size:1.4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:#fff;position:relative;padding-left:1rem;padding-right:4rem;}
.top_adr .top_scan {display:inline-block;width:2.5rem;height:2.5rem;background-position:-20.5rem -0.4rem;position:absolute;top:-0.2rem;right:1rem;margin-top:1rem;}
.index_con {background:#fff;}
.index_con ul {padding:0.5rem 0rem 2rem 0rem;overflow:hidden;}
.index_con ul li {text-align:center;font-size:1.4rem;padding-top:1.5rem;float:left;width:20%;margin-left:4%;}
.index_con ul li p {margin-top:0.6rem;}
.index_con ul li img {width:100%;}

/**热销商品**/
.hot_goods {background:#fff;}
.hot_goods .hot_tit {font-size:1.6rem;height:4rem;line-height:4rem;padding:0 1rem;}
.hot_list {background:#f8f8f8;width:100%;float:left;padding:1.5rem 0;margin-bottom:2rem;}
.hot_list .hot_div {width:46%;margin:0 auto;float:left;padding-left:3%;}
.hot_list dl {border:0.1rem solid #e9e9e9;float:left;padding-bottom:1rem;width:100%;background:#fff;margin-bottom:1rem;position:relative;}
.hot_list dl dt {margin-bottom:1rem;position:relative;}
.hot_list dl dt a {height:12.5rem;overflow:hidden;display:block;}
.hot_list dl dt img {width:100%;min-height:16.5rem;}
.hot_list dl dt .img_none {position:absolute;z-index:55;width:100%;height:100%;font-style:normal;background:#f3f3f3;top:0;left:0;color:#cfcfcf;font-size:1.6rem;font-weight:bold;top:0;left:0;}
.hot_list dl dt .img_none span {position:absolute;left:50%;margin-left:-0.7rem;top:50%;margin-top:-0.7rem;}
.hot_list dl dt .shop_rest {position:absolute;z-index:55;width:100%;height:100%;font-style:normal;background:rgba(0,0,0,0.4);top:0;left:0;color:#fc844f;font-size:1.6rem;font-weight:bold;top:0;left:0;}
.hot_list dl dt .shop_rest span {position:absolute;left:50%;margin-left:-2rem;top:50%;margin-top:-0.7rem;}
.hot_list dl dd {font-size:1.4rem;color:#666;padding-left:1rem;line-height:2.6rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot_list dl dd.goods_name {font-size:1.6rem;color:#333;}
.hot_list dl dd span {color:#da3f3f;}
.hot_list dl dd .goods_add {background-position:-18rem -4rem;display:inline-block;width:1.9rem;height:1.9rem;position:absolute;right:1rem;bottom:1.6rem;}

/**产品详情**/
.goods_info {background:#fff;padding-bottom:1.5rem;position:relative;border-bottom:0.1rem solid #e4e4e4;}
.goods_info .goods_name {color:#333;font-size:1.6rem;padding:1.5rem 0;}
.goods_info .goods_intr {color:#999;line-height:2rem;font-size:1.4rem;}
.goods_info .goods_buy {position:absolute;right:1rem;top:1rem;float:left;}
.goods_info .goods_buy .minus,.goods_info .goods_buy .minu,.goods_info .goods_buy .plus {display:inline-block;width:1.2rem;height:1rem;float:left;border:1px solid #cdcdcd;padding:0.75rem 0.65rem;}
.goods_info .goods_buy .minus {background-position:-15.35rem -3.8rem;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.goods_info .goods_buy .minu {background-position:-10.2rem -3.8rem;border-top-left-radius:3px;border-bottom-left-radius:3px;display: none;}
.goods_info .goods_buy .plus {background-position:-12.8rem -3.8rem;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.goods_info .goods_buy .num {float:left;width:1.6rem;height:1rem;text-align:center;font-size:1.4rem;color:#000;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;padding:0.15rem 0.65rem 1.35rem 0.6rem;}
.goods_info .goods_buy .num input{width:1.6rem;vertical-align:top;padding-top:0.2rem;text-align:center;font-size:1.4rem;}
.goods_pro {font-size:1.6rem;background:#fff;border-bottom:0.1rem solid #e4e4e4;}
.goods_pro div {padding:1.5rem 0;}
.goods_pro .pro_name {position:relative;padding-right:1.3rem;color: #666;}
.goods_pro .pro_name em {background-position:-14rem -0.5rem;display:inline-block;width:0.9rem;height:1.6rem;position:absolute;right:0;top:1.8rem;}
.goods_pro .pro_time {border-top:0.1rem solid #e4e4e4;}
.goods_pro .pro_name span,.goods_pro .pro_time span {color:#999;}

/**底部购买浮动**/
.footer_buy {width:100%;height:5rem;position:fixed;z-index:999;left:0;bottom:0;background-color:#f9f9f9;border-top:0.1rem solid #dcdcdc;}
.footer_buy .goods_pri {font-size:1.4rem;color:#999;padding-left:1rem;float:left;line-height:5rem;}
.footer_buy .goods_pri span {font-size:2rem;color:#da3f3f;font-family:arial;}
.footer_buy .goods_btn {float:right;margin-top:0.5rem;padding-right:1rem;}
.footer_buy .goods_btn a {color:#fff;background:#459df6;width:9rem;height:4rem;display:inline-block;line-height:4rem;text-align:center;font-size:1.4rem;border-radius:0.5rem;}
.footer_buy .goods_btn a:first-child {background:#fd7c43;margin-right:0.75rem;}

/**添加购物车弹窗**/
.add_car,.pay_suc,.pay_fail,.pay_over {position:fixed;z-index:998;top:50%;left:50%;margin-left:-10rem;margin-top:-6.5rem;width:20rem;background:rgba(0,0,0,0.8);height:10rem;padding-top:3rem;border-radius:1rem;color:#fff;font-size:1.6rem;text-align:center;display:none;}
.add_car .duihao,.pay_suc .duihao,.pay_fail .duihao{background-position:-10.5rem -0.5rem;display:inline-block;width:3.2rem;height:3.2rem;}
.pay_over{padding:4.2rem 2rem 0;width:16rem;height:8.8rem;line-height:2.4rem;}

/**商家详情**/
.shop_pro {font-size:1.6rem;background:#fff;border-bottom:0.1rem solid #e4e4e4;color:#333;}
.shop_pro tr td {padding:1.5rem 1rem;border-bottom:0.1rem solid #e4e4e4;}
.shop_pro tr td:first-child {padding-right:0;width:11rem;}
.shop_pro tr td:last-child {padding-left:0;}
.shop_pro tr:last-child td {border-bottom:none;}
.shop_pro .shop_time b,.shop_pro .shop_addr b,.shop_pro .shop_tel b {display:inline-block;width:1.9rem;height:1.9rem;vertical-align:middle;margin-right:0.5rem;}
.shop_pro .shop_time b {background-position:-0.5rem -11.5rem;}
.shop_pro .shop_addr b {background-position:-2.8rem -11.5rem;}
.shop_pro .shop_tel b {background-position:-5rem -11.5rem;}
.shop_pro .shop_time span,.shop_pro .shop_addr span,.shop_pro .shop_tel span {color:#999;}
.tel_ask {text-align:center;padding:0 1rem;}
.tel_ask a {color:#fff;background:#459df6;width:95%;margin:0 auto;height:4rem;line-height:4rem;border-radius:0.5rem;display:inline-block;font-size:1.6rem;}

.loading {text-align:center;}
.loading img {width:40%;margin:0 auto;padding-top:20%;}
.loading p {margin-top:1rem;font-size:1.6rem;}

/**购物车**/
.buy_cart {background:#fff;overflow:hidden;font-size:1.4rem;}
.buy_cart .buy_tit {padding:1.5rem 1rem;border-bottom:0.1rem solid #e4e4e4;}
.buy_cart .buy_sum {float:left;width:100%;border-bottom:0.1rem solid #e4e4e4}
.buy_cart .buy_sum .buy_name {color:#333;float:left;width:44%;padding:1.5rem 0 1.5rem 1rem;}
.buy_cart .buy_sum .buy_pri {float:left;width:25%;padding:1.5rem 0;text-indent:1rem;color:#da3f3f;}
.buy_cart .buy_sum .buy_num {float:right;padding-right:1rem;padding-top:1.1rem;}
.buy_cart .buy_sum .minus,.buy_cart .buy_sum .minu,.buy_cart .buy_sum .plus {display:inline-block;width:1.2rem;height:1rem;float:left;border:1px solid #cdcdcd;padding:0.75rem 0.65rem;}
.buy_cart .buy_sum .minus {background-position:-15.35rem -3.8rem;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.buy_cart .buy_sum .minu {background-position:-10.2rem -3.8rem;border-top-left-radius:3px;border-bottom-left-radius:3px;display: none;}
.buy_cart .buy_sum .plus {background-position:-12.8rem -3.8rem;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.buy_cart .buy_sum .num {float:left;width:1.2rem;height:1rem;text-align:center;font-size:1.4rem;color:#000;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;padding:0.15rem 0.65rem 1.35rem 0.65rem;}

.bill_pri {font-size:1.4rem;background:#fff;border-top:0.1rem solid #e4e4e4;border-bottom:0.1rem solid #e4e4e4;}
.bill_pri .bill_tit {padding:1.5rem 1rem;}
.bill_pri .bill_mon,.bill_pri .bill_exp {color:#999;padding:0 1rem;}
.bill_pri .bill_exp {padding:1rem;}
.bill_pri .bill_mon span,.bill_pri .bill_exp span {float:right;color:#da3f3f;}
.bill_total {padding:1.5rem 1rem;border-top:0.1rem solid #e4e4e4;}
.bill_total .color1 {color:#333;font-size:1.6rem;}
.bill_total .color2 {color:#da3f3f;font-size:1.6rem;}
.bill_total .color3 {color:#999;float:right;}

/**收货信息**/
.own_info .own_addr {padding:1.5rem 1rem;position:relative;color:#999;border-bottom:0.1rem solid #e4e4e4;}
.own_info .own_addr p {color:#333;}
.own_info .own_addr p em {color:#fb9b74;font-style:normal;}
.own_info .own_addr span {float:right;background-position:-14rem -0.5rem;width:0.9rem;height:1.6rem;display:inline-block;position:absolute;right:1rem;top:2.2rem;}

/**支付方式**/
.pay_way {font-size:1.4rem;background:#fff;border-top:0.1rem solid #e4e4e4;border-bottom:0.1rem solid #e4e4e4;}
.pay_way .pay_tit {padding:1.5rem 1rem;border-bottom:0.1rem solid #e4e4e4;}
.pay_way .pay_total {color:#da3f3f;font-size:1.6rem;padding:1rem;padding-bottom:0;}
.pay_way .pay_sel {display:none;}
.pay_way label {background:url(../images/label1.png) no-repeat center right;background-size:2.3rem 2.3rem;display:block;padding:0 1rem;margin-right:1rem;}
.pay_way .checked {background:url(../images/label2.png) no-repeat center right;background-size:2.3rem 2.3rem;display:block;}
.pay_way .pay_wechat span,.pay_way .pay_acc span {width:4rem;height:2.8rem;display:inline-block;vertical-align:middle;margin:1rem;margin-left:0;}
.pay_way .pay_wechat span {background-position:-0.5rem -5.5rem;}
.pay_way .pay_acc span {background-position:-5rem -5.5rem;}
.pay_way .pay_acc em {color:#999;font-style:normal;}
.pay_way .pay_acc em .colo1 {color:#da3f3f;}
.pay_way .pay_acc .pay_doubt {background-position:-13.5rem -6.5rem;width:2.5rem;height:2.5rem;display:inline-block;vertical-align:middle;margin-left:0.5rem;}

/**个人信息**/
.info_form {width:100%;}
.info_form .per_info {padding:2rem 1rem;font-size:1.4rem;}
.per_info input {line-height:4rem;height:4rem;padding-left:1rem;width:97%;margin:1rem 0;border:0.1rem solid #dcdcdc; font-size: 1.4rem;}
.per_info input:last-child {margin-bottom:0;}
.per_info .info_code {position:relative;}
.per_info .info_code a {width:9rem;height:3rem;line-height:3rem;border-radius:0.4rem;position:absolute;right:1rem;top:1.6rem;z-index:666;text-align:center;display:inline-block;}
.per_info .info_code a.get_code {color:#fff;background:#459df5;}
.per_info .info_code a.code_wait {color:#999;background:#eeeeee;display:none;}
.per_info .tel_ask a {width:95%;}

/**记账支付**/ 
.acc_des {font-size:1.4rem;padding:2rem 2.5rem;}
.acc_des .acc_tit {color:#999;}
.acc_des .acc_tit span {background-position:-10.5rem -9rem;width:3.5rem;height:3.1rem;display:inline-block;vertical-align:middle;}
.acc_des .acc_tit_pro span {background-position:-14rem -9rem;}
.acc_des .acc_tit_mon span {background-position:-17.5rem -9rem;}
.acc_des .acc_tit_mon i {color:#da3f3f;font-style:normal;font-size:1.6rem;}
.acc_des .acc_tit_mon i em {color:#666;font-style:normal;font-size:1.4rem;}
.acc_des p {margin:0.5rem 0 2rem 0;}
.acc_des .acc_pro {color:#459df5;}
.acc_des .acc_pro span {background-position:-16.5rem -0.5rem;width:1.5rem;height:1.4rem;display:inline-block;vertical-align:middle;margin:-0.2rem 0.8rem 0;}

/** 扫描二维码 **/
.scan {background:#fff;}
.scan p{margin:0 auto;width:90%;color:#666;font-size:1.2rem;margin-top:1.5rem;}
.scan .loading img {padding-bottom:20%;}

/**订单**/
.order_top {width:100%;}
.order_top ul li {width:33.3%;border-bottom:0.2rem solid #e4e4e4;float:left;text-align:center;font-size:1.4rem;height:4rem;line-height:4rem;background:#fff;}
.order_top ul li.hover {border-bottom:0.2rem solid #459df5;color:#459df5;}
.order_box {}
.order_box .con {display:none;overflow:hidden;}
.order {background:#fff;}
.order_total {padding:1rem;overflow:hidden;border-bottom:0.1rem solid #e4e4e4;border-top:0.1rem solid #e4e4e4;}
.order_total .order_time {color:#999;width:50%;float:left;font-size:1.4rem;}
.order_total .order_mon {width:50%;float:left;font-size:1.6rem;text-align:right;}
.order_total .order_mon span {color:#da3f3f;}
.order_info {padding:1rem;font-size:1.4rem;}
.order_info table tr td {color:#999;padding:0.25rem 0;}
.order_info table tr td:first-child {color:#333;}
.order_info table tr td:nth-child(2) {text-indent:1rem;}
.order_info table tr td:last-child {text-align:right;}
.order_state {padding:0 2rem;position:relative;margin-top:2rem;}
.order_state .state_bg {width:90%;margin:0 auto;position:relative;height:3rem;padding-top:1.5rem;}
.order_state .state_bg ul {width:100%;position:relative;}
.order_state .state_bg ul li{width:25%;float:left;height:1rem;}
.order_state .state_bg ul li span {width:1rem;height:1rem;border-radius:1rem;background:#999;position:absolute;top:-2rem;left:0;z-index:2;margin-left:-0.5rem;}
.order_state .state_bg ul .step_one span {left:0;}
.order_state .state_bg ul .step_two span {left:25%;}
.order_state .state_bg ul .step_three span {left:50%;}
.order_state .state_bg ul .step_four span {left:75%;}
.order_state .state_bg ul .step_five span {left:100%;}
.order_state .state_bg ul li em {font-style:normal;position:absolute;top:-0.5rem;}
.order_state .state_bg ul .step_one em {left:-2.5rem;}
.order_state .state_bg ul .step_two em {left:25%;margin-left:-2.5rem;}
.order_state .state_bg ul .step_three em {left:50%;margin-left:-2.5rem;}
.order_state .state_bg ul .step_four em {left:75%;margin-left:-1.8rem;}
.order_state .state_bg ul .step_five em {right:0%;margin-right:-1.2rem;}
.order_state .state_bg ul li i {position:absolute;top:-0.5rem;border-top:0.1rem solid #999;height:0.1rem;width:25%;top:-1.5rem;z-index:1;}
.order_state .state_bg ul .step_one i {display:none;}
.order_state .state_bg ul .step_two i {left:0;}
.order_state .state_bg ul .step_three i {left:25%;}
.order_state .state_bg ul .step_four i {left:50%;}
.order_state .state_bg ul .step_five i {right:0;}
.order_state .state_bg ul .step_done span {background:#459df5;}
.order_state .state_bg ul .step_done i {border-top:0.1rem solid #459df5;}
.order_btn {padding:1rem 0;font-size:1.4rem;width:100%;border-top:0.1rem solid #e4e4e4;border-bottom:0.1rem solid #e4e4e4;overflow:hidden;}
.order_btn a {width:9rem;height:3.5rem;line-height:3.5rem;display:inline-block;background:#c9c9c9;border-radius:0.5rem;text-align:center;color:#fff;float:right;margin-right:1rem;}
.comfirm_1{background:#459df5 !important;}
.order_btn span {color:#fc7c44;float:left;height:3.5rem;line-height:3.5rem;margin-left:1rem;}

/**取消订单弹窗**/
.cancel_box {position:relative;display:none;}
.cancel_box .cancel_hui {width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,0.8);z-index:9999;}
.cancel_box .cancel_tips {background:#fff;position:fixed;bottom:0;left:0;z-index:11111;width:100%;}
.cancel_box .cancel_tips p {font-size:1.4rem;color:#333;margin:4rem 0;padding:0 2rem;}
.cancel_box .cancel_tips p span {color:#fc7c44;}
.cancel_tips .cancel_btn {margin:0 auto;text-align:center;margin-bottom:2rem;}
.cancel_tips .cancel_btn a {display:inline-block;width:85%;color:#fff;background:#459df5;border-radius:0.4rem;text-align:center;height:4rem;line-height:4rem;font-size:1.6rem;margin-bottom:1.5rem;}
.cancel_tips .cancel_btn a:last-child {background:#c9c9c9;}

.footernav{width:100%;height:5rem;position:fixed;z-index:999;left:0;bottom:0;background-color:#f9f9f9;border-top:0.1rem solid #dcdcdc;}
.footerUl{width:100%;height:4rem;display:box;display:-webkit-box;padding:0;margin-top:0.8rem;z-index:999;}
.footerUl li{width:32%;text-align:center;list-style:none;}
@-moz-document url-prefix() {.footerUl li {display:inline-block; } }
.footerUl li a{height:5rem;display:block;font-size:1.4rem;color:#666; text-decoration:none;}
.footerUl li.cur a {color:#459df5;}
.footerUl li em{width:100%;height:1.8rem;display:block;margin-bottom:0.2rem;margin:0 auto;}
.footerUl .a1 em{background-position:-0.5rem -0.5rem;width:2.25rem;height:1.8rem;}
.footerUl .a2 em{background-position:-3rem -0.5rem;width:2.25rem;height:1.8rem;}
.footerUl .a3 em{background-position:-5.2rem -0.5rem;width:2.25rem;height:1.8rem;}
.footerUl .cur .a1 em{background-position:-0.5rem -3rem;width:2.25rem;height:1.8rem;}
.footerUl .cur .a2 em{background-position:-3rem -3rem;width:2.25rem;height:1.8rem;}
.footerUl .cur .a3 em{background-position:-5.2rem -3rem;width:2.25rem;height:1.8rem;}


/**分页样式**/
#pages {padding:1rem 0;margin:0 auto;text-align:center;}
#pages .rows {margin-right:0.5rem;}
#pages .current {border:0.1rem solid #999;}
#pages a {border:0.1rem solid #459df5;color:#fff;background:#459df5;}
#pages a.next,#pages a.prev {border:none;background:none;color:#459df5;}
#pages .current,#pages a {padding:0 0.5rem;margin:0 0.3rem;}


/*新建收货人*/
.input-error-notice{display:none;color:#ff4e00;font-size:14px;padding-top:5px;}
/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
    margin-left:8px;
    line-height:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:1.4rem;
}
.Validform_right{
    color:#71b83d;
    padding-left:2rem;
    background:url(../images/right.png) no-repeat left center;
    background-size: 1.6rem 1.6rem;
}
.Validform_wrong{
    color:red;
    padding-left:2rem;
    white-space:nowrap;
    background:url(../images/error.png) no-repeat left center;
    background-size: 1.6rem 1.6rem;
}
.Validform_loading{
    padding-left:2rem;
    background: url(../images/onLoad.gif) no-repeat left center;
    background-size: 1.6rem 1.6rem;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}


.xieyi {padding:0 1rem;text-align:center;margin-top:2rem;}
.xieyi .xieyi1 {width:95%;text-align:left;margin-left:2.5%;}
.xieyi input {display:none;}
.xieyi label {height:2.3rem;vertical-align:middle;width:2.3rem;background:url(../images/label1.png) no-repeat center left;background-size:2.3rem 2.3rem;display:inline-block;}
.xieyi .checked {background:url(../images/label2.png) no-repeat center left;background-size:2.3rem 2.3rem;display:inline-block;}
.xieyi span {font-size:1.4rem;line-height:2.4rem;color:#999;margin-left:0.5rem;}
.xieyi span a {color:#da3f3f;}
.user_agu {padding:0 1rem;padding-bottom:5rem;font-size:1.4rem;line-height:2rem;}
.user_agu h1 {font-size:1.6rem;text-align:center;}
.user_agu p {clear:both;}
.user_agu strong {float:left;padding-bottom:1.2rem;padding-top:2.2rem;clear:both;}
.pay_no_suc {position:fixed;z-index:998;top:50%;left:50%;margin-left:-10rem;margin-top:-6.5rem;width:20rem;background:rgba(0,0,0,0.8);height:10rem;padding-top:3rem;border-radius:1rem;color:#fff;font-size:1.6rem;text-align:center;display:none;}
.pay_no_suc .add_suc {line-height:7rem;}
.duihao {margin-bottom:0.8rem;}
