html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size: 62.5%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body {font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;height:100%;-webkit-text-size-adjust:none;color: #333;overflow-x: hidden;min-width: 320px;word-break: break-all;background: #f2f4f3;}
div,table,tbody,td,ul,li,ol,div,form,textarea,p,dd,dt,dl,fieldset,legend,iframe{list-style:none;margin:0px; padding:0px;}
body,h1,h2,h3,h4,h5,h6{margin:0px; padding:0px;text-rendering:optimizelegibility;}
ul, li{ list-style:none; vertical-align:bottom}
img,fieldset{ border:none}
font,input,textarea{padding:0px; margin:0px; vertical-align:middle; }
body a{outline:none;}
a,area{blr:expression(this.onFocus=this.blur());}
:focus{-moz-outline-style:none;}
.clearfix:after {content: "";display: block;visibility: hidden;clear: both;height: 0;font-size: 0;}
.clearfix {zoom: 1;}
.clear {clear: both;}
a:link,a:visited{ text-decoration:none;}
a:hover{text-decoration:none;}
.fl{float: left;}
.fr{float: right;}
header,footer,section,details,aside,menu,nav,article,hgroup,figure,figcaption,time{display: block; margin:0px; padding:0px}
/* set image and video max width to 100% */
img{max-width:100%; width:auto\9; -ms-interpolation-mode: bicubic; vertical-align:middle; border:none;-webkit-touch-callout:none}
