body{margin:0;padding:0;font-size:12px;line-height:22px;background:#fff;color:#666;font-family:"microsoft yahei";}
*{ margin:0; padding:0;}
div,form,img,ul,ol,li,dl,dt,dd,BUTTON{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;}
img{vertical-align:top;}
li{list-style:none;}
.clear{clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0px!important;margin-top:-1px;line-height:0;height:0;zoom:1;}
a {text-decoration:none;outline:0;outline:none;border:none;border:0;}
.f14px{font-size:14px;}
.floatleft{float:left;}
.floatright{float:right;}
.hide {display:none;}
.show {display:inline-block;*display:inline;zoom:1;}
.con {width:1200px;margin:0 auto;}
::-ms-clear, ::-ms-reveal{display: none;}
.con_tit i,.dt_right ul li a i,.fw_right ul li i,.foot_left p i {background:url("../images/icon.png") no-repeat;display:inline-block;*display:inline;zoom:1;vertical-align:middle;}

.head {color:#999; width:100%;border-bottom:1px solid #eee; padding:3px 0;font-family:simsun;}

.top { margin-bottom:30px;}
.top .logo { margin:30px 0; float:left;}
.top .search { float:right;border:1px solid #d6d6d6;border-radius:15px; width:260px;height:30px; padding-left:15px; margin-top:50px;}
.top .search input {border:none; height:30px; *height:20px;width:220px;*margin-top:5px;}
.top .search input:focus {outline:none;}
.top .search .sch { float:right;background:#f2f2f2; width:40px; height:30px;border-top-right-radius:15px;border-bottom-right-radius:15px;*margin-top:-27px;}
.top .search .sch img { margin:5px 0 0 8px;}

.nav {background:#b7000a; width:100%; float:left; height:40px; line-height:40px;}
.nav ul li { float:left;}
.nav ul li.hover a {background:#ff6564;}
.nav ul li a { float:left;color:#fff;font-size:16px; padding:0 40px;}
.nav ul li a:hover {background:#ff6564;}

.banner img { width:100%;}

.content .gray {background:#f6f6f6; padding:35px 0; overflow:hidden;}
.content .con .con_tit { font-weight:bold;font-size:16px;color:#333;}
.content .con .con_tit i { width:26px; height:26px;background-position:-5px -110px; margin-right:5px;}
.content .gray .con .con_nr {background:#fff; float:left; width:1198px;border:1px solid #eee; padding:30px 0; margin-top:15px;}
.content .gray .con .con_nr ul li { float:left; text-align:center; padding:0 68px;border-left:1px solid #eee;position:relative;}
.content .gray .con .con_nr ul li.bor_none {border:none;}
.content .gray .con .con_nr ul li i { width:59px; height:53px; display:inline-block; *display:inline;*zoom:1; margin-top:24px;}
.content .gray .con .con_nr ul li i.i1 {background:url("../images/budong0.png") no-repeat;}
.content .gray .con .con_nr ul li i.i2 {background:url("../images/budong1.png") no-repeat;}
.content .gray .con .con_nr ul li i.i3 {background:url("../images/budong2.png") no-repeat;}
.content .gray .con .con_nr ul li i.i4 {background:url("../images/budong3.png") no-repeat;}
.content .gray .con .con_nr ul li i.i5 {background:url("../images/budong4.png") no-repeat;}
.content .gray .con .con_nr ul li a { float:left; width:102px;}
.content .gray .con .con_nr ul li img {position:absolute; left:67px;z-index:555;}
.content .gray .con .con_nr ul li a:hover img {transform:rotate(360deg);transition:all .8s ease-in-out ;}
.content .gray .con .con_nr ul li p {color:#b7000a;font-size:18px; font-weight:bold; padding-top:30px;}

.dongtai { margin:30px auto 40px; overflow:hidden;}
.dongtai .dt_left { width:350px; float:left;}
.dongtai .dt_tab { position:relative;border-bottom:2px solid #ba0a14;float:left; width:350px; height:40px;}
.dongtai .dt_tab ul { position:relative; margin-left:7px;}
.dongtai .dt_tab ul li {background:url("../images/qie1.jpg") no-repeat; width:108px; height:40px; margin:0 2px; line-height:40px; float:left; text-align:center;font-size:16px;cursor:pointer;}
.dongtai .dt_tab ul li a {color:#666;}
.dongtai .dt_tab ul li.hover {background:url("../images/qie.jpg") no-repeat; width:108px; height:40px; float:left;margin:2px 2px 0; line-height:36px;}
.dongtai .dt_tab ul li.hover a {color:#ba0a14;}
.dongtai .dt_con img { width:350px; height:200px; margin-top:15px;}
.dongtai .dt_con ul {color:#ba0a14;margin-top:10px;}
.dongtai .dt_con ul li {white-space:nowrap;*white-space:normal;text-overflow:ellipsis;overflow:hidden;}
.dongtai .dt_con ul li a {color:#666;font-size:14px;}
.dongtai .dt_con ul li i { width:3px; height:3px;background:#ba0a14; float:left; margin:10px 5px 0;}
.dongtai .dt_mid { float:left; margin-left:25px; width:510px; margin-top:10px;}
.dongtai .dt_mid .con_tit i {background-position:-35px -110px;}
.dongtai .dt_mid .mm_top { margin:15px 0;}
.dongtai .dt_mid .mm_top select { width:65px; padding:2px 0; margin-right:6px; margin-left:2px;*margin-left:0;}
@-moz-document url-prefix() {.dongtai .dt_mid .mm_top select { padding:1px 0; } }
.dongtai .dt_mid .mm_top select.mm_y { width:55px;margin-right:0;}
.dongtai .dt_mid .mm_top select.mm_m { width:40px; margin-left:0; }
.dongtai .dt_mid .mm_top a { width:60px; height:21px; line-height:21px; float:right;background:url("../images/btn1.jpg") repeat-x; text-align:center;border:1px solid #ccc;color:#333;*margin-top:-22px;}
.dongtai .dt_mid .mm_bot table {font-size:14px; text-align:center;border:1px solid #ccc;border-right:none;}
.dongtai .dt_mid .mm_bot table tr th,.dongtai .dt_mid .mm_bot table tr td { font-weight:normal;border-bottom:1px solid #ccc;border-right:1px solid #ccc; padding:5px 0;}
.dongtai .dt_mid .mm_bot table tr td {border-bottom:none;}
.dongtai .dt_mid .mm_bot table tr .mm_bf {color:#ba0a14;}
.dongtai .dt_right {margin-top:10px;margin-left:25px; float:left; width:290px;}
.dongtai .dt_right .con_tit i {background-position:-60px -110px;}
.dongtai .dt_right .dr_rc {background:#f6f6f6;border:1px solid #ccc; float:left; margin-top:15px; padding-bottom:39px; }
.dongtai .dt_right ul li { text-align:center; float:left; width:144px; margin-top:45px;}
.dongtai .dt_right ul li a {color:#333;font-size:14px;}
.dongtai .dt_right ul li a i.i1 {background-position:-65px -140px; width:67px; height:71px;}
.dongtai .dt_right ul li a i.i2 {background-position:-5px -140px; width:58px; height:71px;}
.dongtai .dt_right ul li a i.i3 {background-position:-130px -140px; width:80px; height:83px;}

.content .con_ms .con_tit i {background-position:-85px -110px;}
.content .con_ms img { margin-top:20px;}

.content .con_fw { margin-top:45px;}
.content .con_fw .con_tit i {background-position:-115px -110px;}
.con_fw .fw_con { margin-top:20px; height:360px;}
.con_fw .fw_left { width:267px;background:#f37a3e; text-align:center; float:left;color:#fff; padding-top:45px; height:315px;position:relative;}
.con_fw .fw_left h2 {font-size:28px; font-weight:normal; line-height:30px;}
.con_fw .fw_left .fw_xian {vertical-align:middle;}
.con_fw .fw_left .fw_img {position:absolute;bottom:0; left:0;}
.con_fw .fw_left p {font-size:14px; margin-bottom:30px;}
.con_fw .fw_right { width:932px;border:1px solid #ccc;border-left:none; float:left; text-align:center; padding-top:35px; height:323px;}
.con_fw .fw_right h2 {font-size:24px; line-height:26px; font-weight:normal;}
.con_fw .fw_right ul { margin-top:50px;}
.con_fw .fw_right ul li { float:left;font-size:18px; margin-left:45px;}
.con_fw .fw_right ul li i { width:132px; height:132px;}
.con_fw .fw_right ul li i.i1 {background-position:-5px -220px;}
.con_fw .fw_right ul li i.i2 {background-position:-145px -220px;}
.con_fw .fw_right ul li i.i3 {background-position:-285px -220px;}
.con_fw .fw_right ul li i.i4 {background-position:-425px -220px;}
.con_fw .fw_right ul li i.i5 {background-position:-560px -220px;}
.con_fw .fw_right ul li p { margin-top:20px;}
.con_fw .fw_right ul li a {color:#666;}

.content .con_fw1 .con_tit i {background-position:-145px -110px;}
.content .con_fw1 { margin-bottom:40px;}
.content .con_fw1 .fw_right { padding-top:20px; height:338px;}
.content .con_fw1 .fw_left {background:#fc6969;}

.con_hz ul { margin-top:30px;}
.con_hz ul li { display:inline;margin-left:12px; margin-bottom:15px;}
.con_hz ul li.ml0 { margin-left:0;}
.con_hz table { margin-top:30px; margin-left:-12px;}
.con_hz table tr td { padding:0 6px 15px 6px;}
.con_hz table tr td img { width:189px; height:77px;}

.img {position:relative; height:350px;}
.img .img_big {position:absolute;}
.img .img1 {top:50px;left:0px;}
.img .img2 {left:224px;top:4px;}
.img .img3 {left:224px;top:166px;}
.img .img4 {left:365px;top:85px;}
.img .img5 {left:506px;top:4px;}
.img .img6 {left:506px;top:166px;}
.img .img7 {left:648px;top:85px;}
.img .img8 {left:790px;top:4px;}
.img .img9 {left:790px;top:166px;}
.img .img10 {left:932px;top:48px;}

.footer {background:#efefef; padding:35px 0 50px; overflow:hidden;}
.footer .foot_left { float:left;}
.footer .foot_left p {font-size:17px;}
.footer .foot_left p i {background-position:-180px -110px; width:20px; height:20px;}
.footer .foot_left ul { margin-top:20px; width:440px;}
.footer .foot_left ul li { float:left; width:200px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; margin-right:20px;}
.footer .foot_left ul li a {color:#666;font-size:14px;}
.footer .foot_mid { float:left;}
.footer .foot_mid img {border-left:1px solid #ccc;border-right:1px solid #ccc; padding:0 20px;}
.footer .foot_right { margin-left:20px; width:420px;}
.footer .foot_right p i {background-position:-205px -110px;}
.footer .foot_right table { margin-top:20px;font-size:14px;}
.footer .foot_right table tr td a {color:#666;}










