/** header **/
header {height: .9rem;background: #fff;position: relative;z-index: 6;padding: 0 .3rem;border-bottom: 1px solid #ddd;}
.logo {margin-top: .25rem;}
.logo img {height: .45rem;}
.logo-sub {height: .3rem;margin-top: .34rem;margin-left: .2rem;}
.header-left {height: .9rem;overflow: hidden;}
.header-right {float: right;overflow: hidden;height: .9rem;}
.header-brand {color: #333;line-height: .9rem;height: .9rem;padding: .02rem 0 0;box-sizing: border-box;position: relative;font-size: .32rem;}
.header-brand a {color: #333;}
.header-brand i {font-size: .3rem;font-family: simsun;font-style: normal;}
.reback {float: left;line-height: .9rem;padding: .04rem .2rem 0 0;box-sizing: border-box;overflow: hidden;}
.reback i.iconfont {font-size: .36rem;color: #333;float: left;}
.icon-caidan {font-size: .36rem;color: #666;display: inline-block;margin-top: .28rem;}
.icon-sousuo {font-size: .36rem;color: #666;padding-right: .2rem;}

.sousuo-con {position: fixed;z-index: 4;left: 0;top: 0;right: 0;width: 100%;height: 100%;background: #fff;box-sizing: border-box;line-height: normal;}
.menu-search {position: relative;margin-top: .2rem;padding-left: .2rem;border-bottom: 1px solid #ededed;padding-bottom: .15rem;}
.menu-search .menu-input {background:#f4f4f4;border:none;outline: none;width: 100%;height: .7rem;line-height: 1.2;font-size: .28rem;box-sizing: border-box;padding: .03rem 0 0 .25rem;border-top-left-radius: .7rem;border-bottom-left-radius: .7rem;}
.menu-ibg {padding-right: 2.1rem;}
.menu-search .menu-input::placeholder {color: #aeaeae;}
.menu-search .menu-sub {border:none;outline: none;background: #f4f4f4;position: absolute;right: 1.2rem;top: 0;padding: 0;height: .7rem;width: .9rem;border-top-right-radius: .7rem;border-bottom-right-radius: .7rem;-webkit-appearance:none;}
.menu-search .menu-sub i.iconfont {font-size: .36rem;line-height: normal;color: #666;}
.menu-lists {border-top: .2rem solid #f3f3f3;}
.menu-lists .h2 {font-size: .32rem;border-bottom: 1px solid #eaeaea;margin-top: .25rem;padding: 0 0 .15rem .3rem;color: #666;}
.search-cancel {width: 1.2rem;height: .7rem;line-height: .7rem;text-align: center;font-size: .32rem;color: #888;position: absolute;right: 0;top: 0;background: #fff;z-index: 3;}
.menu-lists ul li {float: left;box-sizing: border-box;width: 100%;height: .8rem;line-height: .8rem;border-bottom: 1px solid #f0f0f0;}
.menu-lists ul li a {font-size: .3rem;color: #666;}
.menu-lists ul li a:active {color: #1787e0;}
.menu-lists ul li.cur a {color: #1787e0;}

.nav-con {position: absolute;width: 100%;right: 0;top:.9rem;background: #fff;z-index: 3;text-align: start;padding: .1rem .3rem .3rem;box-sizing: border-box;border-bottom: 1px solid #eee;box-shadow: 0px 6px 12px 0px rgba(25, 25, 25, 0.12);transform: translateX(100%);transition: transform .3s;border-top: 1px solid #ddd;}
.nav-con-open.nav-con {transform: translateX(0);}
.nav-con dt {font-weight: bold;position: relative;font-size: .32rem;margin: .2rem 0;padding-left: .2rem;}
.nav-con dt:before {content: '';position: absolute;left: 0;top: 50%;transform: translateY(-50%);background: #498aee;border-radius: 50%;width: .1rem;height: .1rem;}
.nav-con dd {display: flex;display: -webkit-flex;font-size: .28rem;line-height: .6rem;flex-wrap: wrap;}
.nav-con dd a {flex: 0 0 25%;}

/* footer */
.fixed-bottom {position: fixed;bottom: 0;width: 100%;}
footer {color: #fff;text-align: center;background: #323232;padding: .3rem 0 .2rem;}
footer .footer-link ul {font-size: 0;}
footer .footer-link ul li {display: inline-block;padding:0 .2rem;border-right:1px solid #fff;}
footer .footer-link ul li:last-child {border:none;}
footer .footer-link ul li a {color: #fff;font-size: .28rem;line-height: .28rem;}
footer .footer-copy {font-size: .24rem;margin-top: .2rem;}