/**分页**/
.pager {font-size: .28rem;float: left;width: 100%;height: 1rem;line-height: 1rem;background: #fff;overflow: hidden;}
.pager .pager-left,.pager .pager-right {width: 35%;float: left;font-size: .28rem;text-align: center;height: 1rem;line-height: 1rem;overflow: hidden;}
.pager .pager-mid {float: left;width: 30%;text-align: center;color: #666;}
.pager .pager-right {float: right}
.pager .pager-first {width: 55%;float: left;}
.pager .pager-pre {width: 45%;float: right}
.pager .pager-next {width: 45%;float: left;}
.pager .pager-end {width: 55%;float: right}
.pager .pager-next,.pager .pager-end {transform: rotate(-180deg);margin-top: -.08rem;}
.pager a {display: block;color: #9f9f9f;}
.pager .disabled {cursor: not-allowed;opacity: .7;}
.pager .disabled a {color: #d4d4d4;}