a,html {-webkit-tap-highlight-color: transparent;}
html,body {-webkit-overflow-scrolling:touch;}
.wrapper {/*max-width: 768px;*/margin:0 auto;overflow-x: hidden;}
body.modal-open {position: fixed;width: 100%;}
.color333 {color: #333 !important;}
.color666 {color: #666 !important;}
.color999 {color: #999 !important;}
.color444 {color: #444 !important;}
.fs22 {font-size: .22rem !important;}
.bgfff {background: #fff;}
.mb0 {margin-bottom: 0 !important;}
.ml0 {margin-left: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.mt5 {margin-top: .1rem;}
.mr5 {margin-right: .1rem;}
.mtb10 {margin: .2rem 0;}
.p10 {padding-left: .3rem;padding-right: .3rem;}
.pp10 {padding: .3rem;}
.pt10 {padding-top: .2rem;}
.pb10 {padding-bottom: .2rem;}
.pb5 {padding-bottom: .1rem;}
.pl10 {padding-left: .2rem;}
.pr10 {padding-right: .2rem;}
.mt10 {margin-top: .2rem;}
.mb10 {margin-bottom: .2rem;}
.ml10 {margin-left: .2rem;}
.mr10 {margin-right: .2rem;}
.mr15 {margin-right: .3rem;}
.mt20 {margin-top: .4rem;}
.mt8 {margin-top: .8rem;}
a {color: #444;}
.bb-so {border-bottom: 1px solid #ececec;}
.bb-so1 {border-top: 1px solid #ececec;}
.ti2 {text-indent: 2em;}
.bortop10 {border-top: .2rem solid #f0f0f0;clear: both;}
.hide {display: none;}
.vhide {visibility: hidden;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}
.ovh li {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ovhh {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ovha li a {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hide-bg,.hidee-bg,.jz-bg {position: fixed;width: 100%;height: 100%;z-index: 2;background: rgba(0,0,0,.6);left: 0;top: 0;display: none;}
.hidee-bg,.jz-bg {z-index: 6;}
.por {position: relative;}
.poa {position: absolute;}

.college-tag1,.college-tag2 {display: inline-block;width: .55rem;height: .3rem;vertical-align: middle;margin-top: -.02rem;}
.college-tag1 {background: url(../images/tag211.png) no-repeat;background-size: 100% 100%;margin-right: .1rem;}
.college-tag2 {background: url(../images/tag985.png) no-repeat;background-size: 100% 100%;}

.no-cont {text-align: center;padding: 1rem;}
.no-cont img {width: 3.56rem;}

section {background: #fff;padding: .3rem;margin-bottom: .2rem;}
section:after {content: "";display: block;visibility: hidden;clear: both;height: 0;font-size: 0;}
section.pb0 ul li:last-child {border-bottom: none;padding-bottom: .25rem;}
.sec-tit {position: relative;margin-bottom: .3rem;}
.sec-tit h2,.sec-tit h3 {display: inline-block;font-size: .32rem;font-weight: bold;}
.more {font-weight: normal;width: 50%;text-align: right;position: absolute;right: 0;}
.more:after {content: '';width: 8px;height: 8px;display: inline-block;border-top: 1px solid #333;border-right: 1px solid #333;transform: rotate(45deg);}

.more-btn {text-align: center;padding: .25rem 0 0;float: left;width: 100%;}
.more-btn a {font-size: .28rem;color: #999;display: block;}
.more-btn a:after {content: '';width: 8px;height: 8px;display: inline-block;border-top: 1px solid #999;border-right: 1px solid #999;transform: rotate(45deg);vertical-align: .5px;}

.news-abtn a {font-size: .26rem;margin-left: .4rem;line-height: .5rem;float: left;color: #999;position: relative;}
.news-abtn a.active {color: #4588f1;}
.news-abtn a:before {content: '';width: 1px;height: 12px;background: #ccc;position: absolute;left: -.2rem;top: .1rem;}
.news-abtn a:first-child:before {content: normal;}
.sec-ul li {font-size: .28rem;border-bottom: 1px solid #ececec;padding: .2rem 0 .15rem;position: relative;}
.sec-ul li a {display: block;max-height: .84rem;line-height: .42rem;overflow: hidden;}
.sec-ul li:first-child {padding-top: 0;}
.sec-ul li:first-child:before {top: .14rem;}

.ask-ul li {font-size: .28rem;border-bottom: 1px solid #e8e8e8;padding: .2rem 0 .15rem .5rem;position: relative;}
.ask-ul li a {display: block;max-height: .84rem;line-height: .42rem;overflow: hidden;}
.ask-ul li:before {content: '';position: absolute;left: 0;top: .22rem;background: url(../images/icon-ask.png) no-repeat;width: .38rem;height: .42rem;background-size: 100% 100%;}
.ask-ul li:first-child {padding-top: 0;}
.ask-ul li:first-child:before {top: -.01rem;}

.adv img {width: 100%;height: 1.2rem;}

/**分享**/
#nativeShare {font-size: 13px;}
#nativeShare .label {font-size: 20px;}
#nativeShare .list {width: 100%;float: left;padding: .3rem .2rem .1rem;box-sizing: border-box;background: #fff;}
#nativeShare .list li {width: 20%;text-align: center;float: left;}
#nativeShare .list span {display: inline-block;}
#nativeShare .list span p {font-size: .22rem;margin-top: .04rem;}
#nativeShare .list span i {width: 40px;height: 40px;display: block;margin: 0 auto;}
#nativeShare .weibo i {background-image: url('../images/weibo.png');background-size: cover;}
#nativeShare .weixin i {background-image: url('../images/weixin_friend.png');background-size: cover;}
#nativeShare .weixin_timeline i {background-image: url('../images/weixin.png');background-size: cover;}
#nativeShare .qq i {background-image: url('../images/qq.png');background-size: cover;}
#nativeShare .qzone i {background-image: url('../images/qqzone.png');background-size: cover;}
#nativeShare .more i {background-image: url('../images/more.png');background-size: cover;}
.bdsharebuttonbox {padding: .3rem .2rem .1rem;float: left;width: 100%;box-sizing: border-box;}
.bdsharebuttonbox li {width: 20%;float: left;text-align: center;}
.bdsharebuttonbox li p {font-size: .22rem;color: #666;margin-top: .08rem;}
.bdsharebuttonbox a {background-position: 0 0 !important;margin:0 !important;padding:0 !important;width: 40px !important;height: 40px !important;float: none !important;display: inline-block;border-radius: 50%;}
.icon-qzone-sm {background-image: url('../images/qqzone.png') !important;background-size: cover;}
.icon-weixin-sm {background-image: url('../images/weixin.png') !important;background-size: cover;}
.icon-tsina-sm {background-image: url('../images/weibo.png') !important;background-size: cover;}
.icon-tqq-sm {background-image: url('../images/tweibo.png') !important;background-size: cover;}
.icon-sqq-sm {background-image: url('../images/qq.png') !important;background-size: cover;}
.icon-more-sm {background-image: url('../images/more.png') !important;background-size: cover;}
.share-slide {bottom: 0 !important;}
.share-bg {display: none;background: rgba(0,0,0,.5);width: 100%;height: 100%;position: fixed;top: 0;left: 0;right: 0;z-index: 100001;}
.bd_weixin_popup_bg,.bd_weixin_popup {z-index: 999999999999 !important;}
.bdshare_popup_box {display: none !important;}